*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0%;
    background-position: center;
}

@mixin texts($fontsize,$font,$color,$aling,$marginTop){
    font-family: $font;
    font-size: $fontsize;
    color: $color;
    text-align: $aling;
    margin-top: $marginTop;
}