.principal{
    h1{
       @include texts($textXl,$fontMain,rgb(247, 5, 138),center,4.3em);
    }

    h2{
        @include texts($textMd,$fontSecondary,rgb(242, 167, 36),center,1em);
    }

    p{
        @include texts($textSm,$fontSecondary,rgb(0,0,0),center,1em);
    }

    nav{
        a{
            @include texts($textMd,$fontSecondary,white,center,0.5em);
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            background: linear-gradient(rgb(242, 36, 132),white);
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5%;
            p{
                @include texts($textSm,$fontSecondary,rgb(0,0,0),center,0.2em); 
            }
        }
    }

    h3{
        @include texts($textXl,$fontSecondary,rgb(242, 167, 36),center,1.5em); 
    }

    img{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 1em auto;
        height: 12em;
    }

    a{
        @include texts($textMd,$fontSecondary,white,center,0.5em);
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            background: linear-gradient(rgb(242, 36, 132),white);
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5%;
            p{
                @include texts($textSm,$fontSecondary,rgb(0,0,0),center,0.2em); 
            }
    }
}