@import url('https://fonts.googleapis.com/css2?family=Padauk&family=Square+Peg&display=swap');

$fontMain: 'Square Peg', cursive;
$fontSecondary: 'Padauk', sans-serif;

$textXl: 3em;
$textMd: 1.5em;
$textSm: 1em;